<!-- <!DOCTYPE html> -->
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>sketch2paints</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <!-- Canvas toBlob polyfill -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/javascript-canvas-to-blob/3.6.0/js/canvas-to-blob.min.js"></script>
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!-- jQuery Cookie -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <!-- jQuery UI -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <!-- wColorPicker -->
    <link rel="stylesheet" href="{{url_for('static',filename='wPaint/lib/wColorPicker.min.css')}}">
    <script src="{{url_for('static',filename='wPaint/lib/paletteGenerator.js')}}"></script>
    <script src="{{url_for('static',filename='wPaint/lib/wColorPicker.min.js')}}"></script>
    <!-- wPaint -->
    <link rel="stylesheet" href="{{url_for('static',filename='wPaint/wPaint.min.css')}}">
    <script src="{{url_for('static',filename='wPaint/wPaint.min.js')}}"></script>
    <script src="{{url_for('static',filename='wPaint/plugins/main/src/wPaint.menu.main.js')}}"></script>
    
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- font-awesome -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/font-awesome.css')}}">
    <!-- main -->
    <script src="{{url_for('static',filename='sketch2paints.js')}}"></script>
    <!-- <script src="../static/sketch2paints.js"></script> -->
    <!-- fileend -->
   
    <style>
        .wColorPicker-palettes-holder { white-space: nowrap; } /* wColorPicker workaround for Firefox */
    </style>
    <style>
        body {
            margin-bottom: 36px;
            padding: 60px;
            background-color: white
          }
          .footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            /* Set the fixed height of the footer here */
            height: 36px;
            background-color: #f5f5f5;
            font-size: 85%;
          }
          .container .text-muted {
            margin: 8px 0;
          }
          .footer > .container {
            padding-right: 15px;
            padding-left: 15px;
          }
          .footer a {
            color: #727272;
          }
    </style>

</head>


<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="nav-container container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span><span class="icon-bar"></span><span
                        class="icon-bar"></span>
                </button>
                <div class="logo">
                    <span class="navbar-brand">
                        <a href="{{url_for('home')}}">
                            <img src="{{url_for('static', filename='images/icon.png')}}"
                                height="32" style="display:inline" />
                            Sketch2Colors</a>
                    </span>
                </div>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav nav-tabs nav-justified">
                    <li class="active" role="presentation">
                        <a href="{{url_for('home')}}">Home </a>
                    </li>
                    <li role="presentation">
                        <a href="{{url_for('howto')}}">HowTo</a></li>
                    <li role="presentation">
                        <a href="{{url_for('index')}}">HaveFun</a></li>
                    <li role="presentation"><a href="https://github.com/xiaofengShi/Gans/tree/master/PaintsChainer"
                            target="_blank">Github</a></li>
                </ul>
            </div>
            {% block title %}{% endblock %}

        </div>
    </nav>

    {% block upload %}{% endblock %}
    {% block paint %}{% endblock %}
</body>

</html>
